@charset "utf-8";

header,
main,
footer {
  width: 100%;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

/* アイコンとcontactの部分をflexboxで配置 */
.header-menu-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* fas fa-archwayのアイコン */
.page-icon {
  color: #777;
  margin-bottom: 15px;
}

.contact {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  background-color: #6ba7eb;
  padding: 12px 14px;
  text-decoration: none;
}

.keyvisual-background-image {
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat center/cover;
  height: 935px;
  text-align: center;
  position: relative;
}

/* 中央のWEB PRODUCTION COMPANYの部分 */
.page-title {
  display: inline-block;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
  white-space: nowrap;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
}

/* DIRECTION,CONTENT MARKETINGの部分 */
.page-heading {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  position: absolute;
  top: 495px;
  left: 50%;
  transform: translateX(-50%);
}

/* <section>workをgridでレイアウト */
.work-grid {
  display: grid;
  grid-template:
    "img title    " auto
    "img paragraph" auto
    / 2fr 3fr;
  padding-top: 50px;
}

/* パソコンの画像の親要素 */
.grid-img {
  grid-area: img;
}

.pc-img {
  display: block;
  width: 250px;
  height: auto;
}

/* WORKの文字 */
.heading {
  font-size: 40px;
  letter-spacing: 10px;
}

.work-heading {
  grid-area: title;
  text-align: center;
  padding: 20px 0 35px;
}

/* WORKの下のダミー文章 */
.grid-paragraph {
  grid-area: paragraph;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

/* <section>WORKの背景色指定 */
.work {
  background: #e3f2fd;
}

.skills-heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.skills-d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-bottom: 70px;
}

.skills-img {
  width: 300px;
  height: 300px;
}
/* 