// 変数とその値を格納
// 変数の値を利用したいときは、「@use + 相対パス」でアクセスする
// 例）_header.scssからなら @use "../base/variables";

$header-bg-color: #fff;
$white-color: #fff;
$primary-bg-color: #6ba7eb;
$primary-color: #6ba7eb;
$font-bold: 700;

// メディアクエリ用変数
$sp-tab-width: 97%;

// sassにおけるレスポンシブ対応の書き方
// メディアクエリとミックスインを組み合わせることで
// 効率的にコード量を削減して書くことができる
// １．ブレイクポイントの定義
$breakpoints: (
  "sp-tab": "screen and (max-width: 1199px)",
  "tab-pc": "screen and (min-width: 768px)",
  "sp": "screen and (max-width: 767px)",
);

// ２．ミックスインの定義
// mixin専用ファイルに@mixin ○○ の形で定義

// ３．使用したい場所で@includeを使って呼び出す
